.card-coin-staking {
    @apply border border-neutral-200 rounded-[16px] p-[14px] flex gap-[20px] items-center;
    .card-coin-logo {
        @apply w-[56px];
    }
    .card-coin-desc {
        @apply flex flex-col gap-[6px];
        label {
            @apply text-[20px]/[30px] font-bold text-black;
        }
        span {
            @apply text-[14px]/[21px] font-medium text-black;
        }
        a {
            @apply text-[16px]/[24px] font-semibold text-primary;
        }
    }
}

.card-news-main {
    @apply flex flex-col gap-[20px];
    img {
        @apply h-[410px] w-full object-cover rounded-[10px];
    }
    .card-content {
        @apply flex flex-col gap-[10px];
        h5 {
            @apply text-[20px]/[30px] text-black font-semibold;
        }
        p {
            @apply text-[14px]/[21px] text-neutral-700 font-medium;
        }
    }
}

.card-news-secondary {
    @apply flex gap-[25px];
    .card-content {
        @apply flex flex-col gap-[25px] flex-1;
        h5 {
            @apply text-[16px]/[24px] text-black font-semibold;
        }
        p {
            @apply text-[14px]/[21px] text-neutral-700 font-medium;
        }
    }
    img {
        @apply h-[157px] w-[255px] object-contain rounded-[10px];
    }
}

.card-news-sticky {
    @apply flex gap-[25px];
    .card-content {
        @apply flex-1;
        h5 {
            @apply text-[14px]/[21px] text-black font-semibold;
        }
    }
    img {
        @apply h-[58px] w-[101px] object-contain rounded-[4px];
    }
}

.card-coupon {
    @apply relative flex flex-col justify-start items-center text-center w-[616px] h-[352px] px-[100px] pt-[30px] pb-[90px];
    background: url("/images/backgrounds/coupon.png") no-repeat;
    background-position: center;
    background-size: cover;
    .card-body {
        @apply w-full flex flex-col;
        h5 {
            @apply text-[96px]/[144px] !text-white font-extrabold;
        }
        p {
            @apply text-[22px]/[33px] !text-white font-medium;
        }
    }

  
}