input {
    @apply border border-neutral-200 rounded-[8px] !text-neutral-900 !font-medium text-[14px]/[21px] !px-[20px] !py-[10px] outline-none h-[41px];
    &.color-1 {
        background-color: #fafbfe;
    }
    &.color-2 {
        @apply !border-[#fafbfe] bg-[#fafbfe];
    }
}

select {
    @apply border border-neutral-200 rounded-[8px] !text-neutral-900 !font-medium text-[14px]/[21px] !px-[20px] outline-none h-[41px];
    &.color-1 {
        background-color: #fafbfe;
    }
}
.group-input {
    @apply relative;
    input {
        @apply w-full;
        &::placeholder {
            @apply font-medium text-neutral-400;
        }
    }
    label {
        @apply w-full text-[14px]/[21px] font-semibold;
    }
    span {
        @apply absolute text-[14px]/[21px] text-neutral-500 top-[9px];
        &.prepend {
            @apply right-[10px];
        }
        &.append {
            @apply left-[10px];
        }
    }
    &.prepend-append {
        input {
            @apply !px-[35px];
        }
    }
    &.prepend{
        input {
            @apply !pr-[35px];
        }
    }
    &.append{
        input {
            @apply !pl-[35px];
        }
    }
}

.checkbox-input {
    @apply h-[25px] w-full cursor-pointer text-black relative pl-[35px] flex items-center;
    input {
        @apply absolute opacity-0 h-0 w-0 cursor-pointer;
        &:checked ~ .checkmark {
            background-color: #2196F3;
            &:after {
                @apply left-[9px] top-[5px] w-[5px] h-[10px] border border-neutral-50 border-t-[0px] border-r-[3px] border-b-[3px] border-l-[0px] rotate-45 block;
            }
        }
    }

    .checkmark {
        @apply absolute top-0 left-0 h-[25px] w-[25px] bg-white border-2 border-neutral-300;
        &:after {
            @apply absolute hidden;
            content: "";
    
        }
    }

}

/* .dark-theme {
    .group-input {
        &.prepend {
            span {
                &.prepend {
                    @apply  border-l-neutral-400 text-white;
                }
            }
            input {
                @apply bg-[#101214] text-white !border-[#101214];
                &::placeholder {
                    @apply text-white;
                }
            }
        }
    }
} */


