
@tailwind components;

.swiper-testimony {
    @apply w-full flex items-center overflow-hidden;
    .swiper {
        @apply w-full relative flex items-center ml-auto mr-auto max-w-[1270px];
        .swiper-wrapper {
            @apply flex items-center z-[1] w-full h-full relative;
            .swiper-slide {
                @apply !w-[339px] mr-[25px] ml-[25px] flex justify-center;
                &:first-child {
                    @apply !ml-auto;
                }
                &:last-child {
                    @apply !mr-auto;
                }
                &.swiper-slide-active{
                    @apply !w-[500px] h-[215px];
                    .testimony-card {
                        @apply w-[500px] h-[215px] opacity-100 cursor-grab;
                        .testimony-thumb {
                            @apply w-[250px];
                            img {
                                @apply w-full h-full rounded-[20px] select-none;
                            }
                        }
                        .testimony-content {
                            @apply flex-1 flex flex-col justify-center gap-[31px];
                            p {
                                @apply text-[12px]/[18px] font-medium text-neutral-700 select-none;
                            }
                            .testimony-name-tag {
                                @apply flex flex-col gap-[7px];
                                h5 {
                                    @apply text-[12px]/[18px] font-bold text-[#293238] select-none;
                                }
                                p {
                                    @apply text-[12px]/[18px] font-semibold text-[#7D7A7A] select-none;
                                }
                            }
                        }
                    }
                }
                .testimony-card {
                    @apply flex w-[339px] h-[160px] gap-[18px] border border-neutral-200 rounded-[20px] opacity-40;
                    .testimony-thumb {
                        @apply w-[170px];
                        img {
                            @apply w-full h-full rounded-[20px];
                        }
                    }
                    .testimony-content {
                        @apply flex-1 flex flex-col justify-center gap-[31px];
                        p {
                            @apply text-[8px]/[13px] font-medium text-neutral-700;
                        }
                        .testimony-name-tag {
                            @apply flex flex-col gap-[7px];
                            h5 {
                                @apply text-[8px]/[13px] font-bold text-[#293238];
                            }
                            p {
                                @apply text-[8px]/[13px] font-semibold text-[#7D7A7A];
                            }
                        }
                    }
            
                }
            }
        }
        .swiper-button-prev {
            @apply absolute w-[58px] h-[58px] rounded-[50%] bg-white top-[90px] left-[10%] z-[1] flex flex-col items-center justify-center;
            &::before {
                content: '';
                background-image: url("/svgs/chevron-left.svg");
                background-size: 19px 33px;
                width: 19px;
                height: 33px;
                cursor: pointer;
            }
        }
        .swiper-button-next {
            @apply absolute w-[58px] h-[58px] rounded-[50%] bg-white top-[90px] right-[10%] z-[1] flex flex-col items-center justify-center;
            &::before {
                content: '';
                background-image: url("/svgs/chevron-right.svg");
                background-size: 19px 33px;
                width: 19px;
                height: 33px;
                cursor: pointer;

            }
        }
    }
}
.swiper-background {
    @apply w-full h-full absolute;
    .swiper {
        @apply mx-auto relative overflow-hidden z-[1];
        .swiper-wrapper {
            @apply relative w-full h-full z-[1] flex;
            .swiper-slide {
                @apply flex items-center flex-shrink-0 w-full h-full relative px-[30px];
                .background-container {
                    @apply w-full h-full relative;
                    .image-subcontainer {
                        @apply w-full h-full;
                        img {
                            @apply w-full h-full;
                        }
                    }
                    .text-subcontainer {
                        @apply absolute top-[20%] text-center px-[100px] py-[50px];
                        h5 {
                            @apply text-[96px]/[144px] font-bold text-white
                        }
                        p {
                            @apply text-[22px]/[42px] font-medium text-white;
                        }
                    }
                }
            }
        }
        .swiper-button-prev {
            @apply absolute w-[58px] h-[58px] rounded-[50%] bg-[#182129] top-[45%] left-0 z-[1] flex flex-col items-center justify-center;
            &::before {
                content: '';
                background-image: url("/svgs/chevron-left.svg");
                background-size: 19px 33px;
                width: 19px;
                height: 33px;
                cursor: pointer;
            }
        }
        .swiper-button-next {
            @apply absolute w-[58px] h-[58px] rounded-[50%] bg-[#182129] top-[45%] right-0 z-[1] flex flex-col items-center justify-center;
            &::before {
                content: '';
                background-image: url("/svgs/chevron-right.svg");
                background-size: 19px 33px;
                width: 19px;
                height: 33px;
                cursor: pointer;

            }
        }
    }
}

.swiper-why {
    @apply w-full h-full;
    .swiper {
        @apply mx-auto relative overflow-hidden z-[1];
        .swiper-wrapper {
            @apply relative w-full h-full z-[1] flex;
            .swiper-slide {
                @apply flex items-center flex-shrink-0 w-[347px] h-[480px] relative px-[10px];
                .background-container {
                    @apply w-full h-full relative;
                    .image-subcontainer {
                        @apply w-full h-full relative rounded-[20px];
                        img {
                            @apply w-full h-full rounded-[20px];
                        }
                         &::before {
                            content: '';
                            @apply bg-white bg-opacity-30 w-full h-full absolute block rounded-[20px] z-10;
                        }

                    }
                    .area-subcontainer {
                        @apply absolute top-[20%] text-center flex flex-col gap-[30px] justify-center items-center py-[100opx] px-[28px];
                        .img-area {
                            @apply flex flex-col justify-center items-center w-[80px] h-[80px] border border-[#C1C3CC] rounded-[50%];
                            img {
                                @apply w-[48px] h-[48px] object-contain;
                            }
                        };
                        .text-area {
                            @apply flex flex-col justify-center gap-[20px];
                            h5 {
                                @apply text-[18px]/[150%] font-bold text-white
                            }
                            p {
                                @apply text-[14px]/[150%] font-medium text-white;
                            }
                        }
                    }
                }
                &.swiper-slide-active {
                    .background-container {
                        .image-subcontainer {
                            @apply border-2 border-[#71BBED];
                            &::before {
                                @apply bg-opacity-90 z-0;
                            }
                        }
                        .area-subcontainer {
                            .text-area {
                                h5,p {
                                    @apply text-[#2E3339];
                                }
                            }
                        }
                    }
                }
            }
        }
        /* .swiper-button-prev {
            @apply absolute w-[58px] h-[58px] rounded-[50%] bg-[#182129] top-[45%] left-0 z-[1] flex flex-col items-center justify-center;
            &::before {
                content: '';
                background-image: url("/svgs/chevron-left.svg");
                background-size: 19px 33px;
                width: 19px;
                height: 33px;
                cursor: pointer;
            }
        }
        .swiper-button-next {
            @apply absolute w-[58px] h-[58px] rounded-[50%] bg-[#182129] top-[45%] right-0 z-[1] flex flex-col items-center justify-center;
            &::before {
                content: '';
                background-image: url("/svgs/chevron-right.svg");
                background-size: 19px 33px;
                width: 19px;
                height: 33px;
                cursor: pointer;

            }
        } */
    }
}
@layer components {
    .mobile-responsive {
        .swiper-testimony {
            .swiper {
                /* @apply w-full overflow-hidden; */
                .swiper-wrapper {
                    @apply flex items-center justify-center;
                    .swiper-slide {
                        @apply !w-[223.71px] mr-[5px] ml-[5px];
                        &.swiper-slide-active{
                            @apply !w-[223.71px] h-[100.41px];
                            .testimony-card {
                                @apply w-[223.71px] h-[100.41px] opacity-100 cursor-grab;
                                .testimony-thumb {
                                    @apply w-[116.76px];
                                    img {
                                        @apply w-full h-full rounded-[10px] select-none;
                                    }
                                }
                                .testimony-content {
                                    @apply flex-1 flex flex-col justify-center gap-[14px];
                                    p {
                                        @apply text-[5px]/[8px] font-medium text-neutral-700 select-none;
                                    }
                                    .testimony-name-tag {
                                        @apply flex flex-col gap-[7px];
                                        h5 {
                                            @apply text-[5px]/[8px] font-bold text-[#293238] select-none;
                                        }
                                        p {
                                            @apply text-[5px]/[8px] font-semibold text-[#7D7A7A] select-none;
                                        }
                                    }
                                }
                            }
                        }
                        .testimony-card {
                            @apply flex w-[158px] h-[75px] gap-[18px] border border-neutral-200 rounded-[9px] opacity-40;
                            .testimony-thumb {
                                @apply w-[79px];
                                img {
                                    @apply w-full h-full rounded-[10px] select-none;
                                }
                            }
                            .testimony-content {
                                @apply flex-1 flex flex-col justify-center gap-[14px];
                                p {
                                    @apply text-[4px]/[6px] font-medium text-neutral-700;
                                }
                                .testimony-name-tag {
                                    @apply flex flex-col gap-[7px];
                                    h5 {
                                        @apply text-[4px]/[6px] font-bold text-[#293238];
                                    }
                                    p {
                                        @apply text-[4px]/[6px] font-semibold text-[#7D7A7A];
                                    }
                                }
                            }
                    
                        }
                    }
                }
                .swiper-button-prev {
                    @apply absolute w-[27px] h-[27px] top-[45px] left-[10px];
                    &::before {      
                        background-size: 9px 15px;
                        width: 9px;
                        height: 15px;
                    }
                }
                .swiper-button-next {
                    @apply absolute w-[27px] h-[27px] top-[45px] right-[10px];
                    &::before {
                        background-size: 9px 15px;
                        width: 9px;
                        height: 15px;
                    }
                }
            }
        }
    }
}
