@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
  font-family: 'Inter';
  height: 100%;
}

main {
  @apply pb-[50px] pt-[80px];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


button {
  @apply flex items-center text-center justify-center gap-[10px];
  &.btn-primary {
    @apply bg-primary text-white border border-primary;
    svg {
      path {
        @apply fill-white;
      }
    }
  }
  &.btn-outline-primary {
    @apply bg-white text-primary border border-primary;
    svg {
      path {
        @apply fill-primary;
      }
    }
  }
}