@tailwind base;
@tailwind components;
@tailwind utilities;
.dark-theme {
    @apply bg-[#000000];
    h1, h2, h3, h4, h5, h6 {
      @apply !text-slate-200;
    }
    p,label {
        @apply !text-slate-300;
    }
    .markets-page {
        .market-section {
            @apply !border-b-[#2E3339] !border-t-[#2E3339];
            .market-container {
                @apply border-r-[#2E3339];
                .market-info {
                    a {
                        @apply text-white;
                        svg {
                            path {
                                @apply stroke-white;
                            }
                        }
                    }
                    .market-info-detail {
                        span {
                            @apply !text-white;
                        }
                        &::before {
                            @apply border-l-[#2E3339];
                        }
                    }
                    .dropdown-market {
                        @apply bg-[#000] border border-neutral-800;
                        .header-area {
                            @apply p-[20px];
                            .group-input {
                                span {
                                    &.append {
                                        @apply !top-[12px];
                                    }
                                }
                                input {
                                    @apply !bg-[#101214] text-white !border-[#101214];
                                    &::placeholder {
                                        @apply text-white;
                                    }
                                }
                            }
                        }
                        .body-area {
                            @apply flex flex-col gap-[10px] flex-1;
                            .table-header {
                                @apply flex flex-col;
                                .table-header-row {
                                    @apply flex flex-col;
                                   .wrapper-row {
                                        @apply flex items-center justify-between px-[20px];
                                        label {
                                            @apply text-[14px]/[21px] text-neutral-600 font-medium w-[25%] select-none;
                                        }
                                   }
                                }
                            }
                            .table-body {
                                @apply overflow-auto h-[370px];
                                .table-body-row {
                                    @apply flex flex-col h-[40px] justify-center w-full cursor-pointer;
                                    &:hover {
                                        @apply bg-neutral-200;
                                    }
                                   .wrapper-row {
                                        @apply flex items-center justify-between px-[20px] w-full h-full;
                                        label {
                                            @apply text-[14px]/[21px] text-neutral-700 font-medium w-[25%] cursor-pointer select-none;
                                        }
                                   }
                                }
                            }
                        }
                    }
                }
                .market-tv-wrapper {
                    @apply border-t-[#2E3339];
                }
            }
            .order-book-container {
                @apply  border-r-neutral-800;
                .order-book-table {
                    @apply flex flex-col gap-[8px] pb-[10px];
                    /* .table-header {
                        .header-row {
                            label {
                            }
                        }
                    } */
                    .table-body {
                        .body-row {
                            label {
                                @apply text-white
                            }
                            span {
                                @apply bg-[#300E0E];
    
                            }
                        }
                    }
                }
            }
            .form-container {
                .button-group {
                    button {
                        @apply bg-[#101214];
                        &.active {
                            @apply bg-[#3A80AF] text-white;
                        }
                    }
                    &.buy {
                        &::after {
                            content: '';
                            @apply bg-[#3A80AF];
                        }
                    }
                    &.sell {
                        &::after {
                            content: '';
                            @apply bg-[#3A80AF];
                        }
                    }
                }
                .tab-form { 
                    ul {
                        @apply border-b-neutral-800;
                        li {
                            @apply text-neutral-200 ;

                            &.active {
                               a {
                                    @apply text-neutral-100 border-b-neutral-100;
                               }
                            }
                        }
                    }
                }
                .input-form {
                    @apply flex flex-col gap-[15px];
                    .form-group {
                        @apply flex flex-col gap-[6px];
                        label {
                            @apply text-[12px]/[18px] text-neutral-500 font-medium;
                        }
                        .group-input {
                            &.prepend {
                                span {
                                    &.prepend {
                                        @apply  border-l-neutral-400 text-white;
                                    }
                                }
                                input {
                                    @apply bg-[#101214] text-white !border-[#101214];
                                    &::placeholder {
                                        @apply text-white;
                                    }
                                }
                            }
                        }
                    }
                    a {
                        @apply bg-[#3A80AF];
                        
                    }
                }
                .info-market {
                    @apply flex flex-col gap-[10px];
                    .info-detail {
                        @apply flex items-center text-[12px]/[18px] font-medium text-neutral-700 justify-between;
                        label {
                            @apply text-left;
                        }
                        span {
                            @apply text-right;
                        }
                    }
                }
                .rc-slider {
                    .rc-slider-step {
                        @apply bg-[#101214];
                    }
                }
            }
        }
        .market-table-section {
            .tab-table {
                ul {
                    @apply border-b-neutral-800;
                    li {
                        @apply text-neutral-200;
                        &.active {
                           a {
                                @apply text-neutral-100 border-b-neutral-100;
                           }
                        }
                    }
                }
            }
            .main-table {
                table {
                    @apply  text-neutral-400;
                    thead {
                        tr {
                            @apply bg-[#101214];
                        }
                    }
                }
            }
        }
    }

}
.markets-page {
    @apply pb-[0px] pt-[50px];

    .marque-text-section {
        @apply flex flex-col justify-start items-center pt-[10px] pb-[10px] px-[20px];
        .rfm-marquee-container  {
            @apply flex justify-start overflow-hidden;
            .rfm-marquee {
                @apply flex;
                .rfm-child {
                    @apply flex;
                    label {
                        @apply text-[14px]/[14px] text-[#4B5060] font-medium flex cursor-pointer;
                        span {
                            @apply text-[#67C48F];
                        }
                        &:hover {
                            @apply font-semibold;
                            span {
                                @apply font-medium;
                            }
                        }
                    }
                    &::after {
                        content: '';
                        @apply border-l border-l-neutral-300 mx-[20px];
                    }
                }
            }

        }
    }
    .market-section {
        @apply flex justify-center items-start  border-b border-b-neutral-200 border-t border-t-neutral-200;
        .market-container {
            @apply flex flex-col border-r border-r-neutral-200 flex-1;
            .market-info {
                @apply flex items-center gap-[10px] px-[20px] relative;
                a {
                    @apply text-[16px]/[24px] font-semibold text-neutral-800 flex items-center gap-[4px] py-[15px] cursor-pointer select-none;
                    img {
                        @apply w-[40px] h-[40px];
                    }
                }
                .market-info-detail {
                    @apply flex  justify-center gap-[15px];
                    &::before {
                        content: '';
                        @apply border-l border-l-neutral-200 mx-[0px];
                    }
                    .info-detail {
                        @apply flex flex-col items-center justify-center text-center py-[15px];
                        label {
                            @apply text-[10px]/[15px] text-neutral-500;
                        }
                        span {
                            @apply text-[14px]/[21px] text-neutral-800 font-semibold;

                        }
                    }
                }
                .dropdown-market {
                    @apply w-[518px] h-[490px] absolute rounded-[4px] bg-white top-[70px] transition-all duration-300 scale-0 origin-top-left flex flex-col;
                    box-shadow: 0px 4px 10px 0px #0000004D;
                    &.show {
                        transform: translateX(0%);
                    }
                    .header-area {
                        @apply p-[20px];
                        .group-input {
                            span {
                                &.append {
                                    @apply !top-[12px];
                                }
                            }
                            input {
                                @apply border !border-[#94CCF2] !bg-[#F0F1F3] !h-[48px];
                            }
                        }
                    }
                    .body-area {
                        @apply flex flex-col gap-[10px] flex-1;
                        .table-header {
                            @apply flex flex-col;
                            .table-header-row {
                                @apply flex flex-col;
                               .wrapper-row {
                                    @apply flex items-center justify-between px-[20px];
                                    label {
                                        @apply text-[14px]/[21px] text-neutral-600 font-medium w-[25%] select-none;
                                    }
                               }
                            }
                        }
                        .table-body {
                            @apply overflow-auto h-[370px];
                            .table-body-row {
                                @apply flex flex-col h-[40px] justify-center w-full cursor-pointer;
                                &:hover {
                                    @apply bg-neutral-200;
                                }
                               .wrapper-row {
                                    @apply flex items-center justify-between px-[20px] w-full h-full;
                                    label {
                                        @apply text-[14px]/[21px] text-neutral-700 font-medium w-[25%] cursor-pointer select-none;
                                    }
                               }
                            }
                        }
                    }
                }
            }
            .market-tv-wrapper {
                @apply border-t border-t-neutral-200;
            }
        }
        .order-book-container {
            @apply flex flex-col w-[300px] border-r border-r-neutral-200;
            .subcontainer-title {
                @apply flex px-[20px] items-center py-[10px];
                h5 {
                    @apply text-[14px]/[21px] text-neutral-800 font-bold;
                }
            }
            .order-book-table {
                @apply flex flex-col gap-[8px] pb-[10px];
                .table-header {
                    @apply flex flex-col w-full;
                    .header-row {
                        @apply flex justify-between items-center;
                        label {
                            @apply w-1/3 text-[10px]/[15px] font-medium text-neutral-500 text-center;
                        }
                    }
                }
                .table-body {
                    @apply flex flex-col w-full gap-[3px] h-[150px] overflow-y-auto;
                    .body-row {
                        @apply flex justify-between items-center relative h-[20px];
                        label {
                            @apply w-1/3 text-[10px]/[15px] font-medium text-neutral-700 text-center z-[10];
                        }
                        span {
                            @apply absolute h-full z-0 bg-[#FAD5D5] right-0;

                        }
                    }
                }
            }
        }
        .form-container {
            @apply flex flex-col w-[300px] px-[20px] pt-[10px] gap-[18px];
            .button-group {
                @apply flex items-center relative;
                button {
                    @apply h-[34px] text-[10px]/[15px] font-semibold text-[#4B5060] w-1/2 bg-[#F5F7FA];
                    &.active {
                        @apply bg-primary text-white;
                    }
                }
                &.buy {
                    &::after {
                        content: '';
                        @apply absolute left-[calc(50%-12px)] z-[1] h-full w-5 bg-primary skew-x-[-25deg];
                    }
                }
                &.sell {
                    &::after {
                        content: '';
                        @apply absolute right-[calc(50%-12px)] z-[1] h-full w-5 bg-primary skew-x-[-25deg];
                    }
                }
            }
            .tab-form { 
                ul {
                    @apply flex items-center border-b border-b-neutral-200;
                    li {
                        @apply text-[14px]/[21px] text-neutral-500 font-semibold ;
                        &:not(:last-child) {
                            a {
                                @apply mr-[18px];
                            }
                        }
                        a {
                            @apply block cursor-pointer pb-[10px];
                           
                        }
                        &.active {
                           a {
                                @apply text-neutral-800 border-b border-b-neutral-600;
                           }
                        }
                    }
                }
            }
            .input-form {
                @apply flex flex-col gap-[15px];
                .form-group {
                    @apply flex flex-col gap-[6px];
                    label {
                        @apply text-[12px]/[18px] text-neutral-500 font-medium;
                    }
                    .group-input {
                        &.prepend {
                            span {
                                &.prepend {
                                    @apply border-l border-l-neutral-400 pl-[10px] text-neutral-800 font-semibold;
                                }
                            }
                            input {
                                @apply bg-[#F5F7FA] text-neutral-800 !pr-[50px];
                                &::placeholder {
                                    @apply text-neutral-800;
                                }
                            }
                        }
                    }
                }
                a {
                    @apply h-[40px] text-[14px]/[21px] rounded-[8px] font-semibold text-white w-full bg-primary flex flex-col justify-center items-center;
                    
                }
            }
            .info-market {
                @apply flex flex-col gap-[10px];
                .info-detail {
                    @apply flex items-center text-[12px]/[18px] font-medium text-neutral-700 justify-between;
                    label {
                        @apply text-left;
                    }
                    span {
                        @apply text-right;
                    }
                }
            }
        }
    }
    .market-table-section {
        @apply flex flex-col justify-center pt-[10px];
        .tab-table { 
            ul {
                @apply flex items-center border-b border-b-neutral-200 px-[20px];
                li {
                    @apply text-[14px]/[21px] text-neutral-500 font-semibold ;
                    &:not(:last-child) {
                        a {
                            @apply mr-[18px];
                        }
                    }
                    a {
                        @apply block cursor-pointer pb-[10px];
                       
                    }
                    &.active {
                       a {
                            @apply text-neutral-800 border-b border-b-neutral-600;
                       }
                    }
                }
            }
        }
        .main-table {
            table {
                @apply table-auto w-full text-[14px]/[21px] text-neutral-600 font-semibold;
                thead {
                    tr {
                        @apply bg-[#F5F7FA] h-[60px];
                        td {
                            @apply px-[20px];
                        }
                    }
                }
                tbody {
                    tr {
                        &.empty-state {
                            @apply h-[120px] text-center;
                            td {
                                span {
                                    a {
                                        @apply text-primary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
   
    @layer components {
        &.mobile-responsive {
     
        }
    }
}

