@tailwind components;
.dark-theme {
    @apply !bg-[#141414];
    h1, h2, h3, h4, h5, h6 {
      @apply !text-slate-200;
    }
    p,label,span {
        @apply !text-slate-300;
    }
    .products-page {
        .products-service-header-section {
            button {
                @apply !bg-[#3A80AF] !text-white;
                &.white {
                    @apply !bg-white !text-[#3A80AF];

                }
            }
        }
        .products-average-section{
            .box-container {
                @apply bg-[#1b1f22];
                .sub-container {
                    .detail-subcontainer {
                        .detail-description-subcontainer {
                            p {
                                span {
                                    @apply !text-[#FF7F17];   
                                }
                            }
                        }
                    }
                }
            }
        }
        .products-affliate-section {
            button {
                @apply !bg-[#3A80AF] !text-white;
            }
        }
        .products-investasi-now-section {
            a {
                @apply !bg-[#3A80AF] !text-white;
            }
        }
    }
}
.products-page {
    &.dark-theme {
        h1, h2, h3, h4, h5 {
            @apply text-slate-200;
        }
        p {
            @apply text-slate-300;
        }
        a {
            @apply text-[#737aff]
        }
    }
    &.light-theme {
        h1, h2, h3, h4, h5 {
            @apply text-black;
        }
        p {
            @apply text-neutral-700;
        }
    }
    .products-service-hero-section {
        @apply flex flex-col justify-center items-center py-[50px] px-[100px] gap-[20px] bg-[#F6F9FB] relative;
        background: url("/images/ornaments/service-ornament.png") no-repeat;
        background-position: center;
        background-size: cover;
        .service-hero-container {
            @apply flex gap-[124px]; 
            .left-subcontainer {
                @apply flex flex-col gap-[90px] w-1/2;
                .text-area {
                    @apply flex flex-col gap-[30px];
                    h2 {
                        @apply text-[60px]/[90px] font-black text-black;
                        span {
                            background: linear-gradient(89.51deg, #1B4CA7 7.36%, #318AC6 98.35%);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                    p {
                        @apply text-[16px]/[32px] text-neutral-700;
                    }
                    .button-group {
                        @apply flex items-center gap-[20px];
                        button {
                            @apply w-[260px] h-[48px] rounded-[30px] text-[14px]/[21px];
                        }
                    }
                }
                .logo-area {
                    @apply flex items-center gap-[30px];
                    .bappebti-logo {
                        img {
                            @apply w-[147px] h-[34px];
                        }
                    }
                    .kominfo-logo {
                        img {
                            @apply w-[118px] h-[37px];
                        }
                    }
                    .bsi-logo {
                        img {
                            @apply w-[83px] h-[44px];
                        }
                    }
                    .cisa-logo {
                        img {
                            @apply w-[110px] h-[44px];
                        }
                    }
                }
            }
            .right-subcontainer {

            }
        }
        /* &::after {
            content: '';
            @apply absolute w-[500px] h-[500px] right-[50%];
            background: url("/images/ornaments/circle-loop-ornament-2.png") no-repeat;
        } */
    }
    .products-regulasi-section {
        @apply flex flex-col items-center px-[100px] py-[50px] relative gap-[50px];
        .regulasi-container {
            @apply flex gap-[50px];
            .box-subcontainer {
                @apply w-1/2 flex flex-col gap-[20px];
                .img-box {
                    @apply w-[460px] h-[460px] relative;
                    img {
                        @apply w-full h-full object-cover;
                    }
                    &::after {
                        content: '';
                        @apply absolute right-0 top-0 w-full h-full z-[-1];
                        background: url("/images/ornaments/circle-loop-ornament-2.png") no-repeat;
                    }
                }
                h5 {
                    @apply text-[28px]/[42px] font-black text-black;
                }
                p {
                    @apply text-[16px]/[32px] font-medium text-neutral-700;
                    span {
                        @apply underline;
                    }
                }
            }
        }
    }
    @layer components {
        &.mobile-responsive {
            
        }
    }
}