@tailwind components;
.dark-theme {
    @apply !bg-[#141414];
    h1, h2, h3, h4, h5, h6 {
      @apply !text-slate-200;
    }
    p,label,span {
        @apply !text-slate-300;
    }
    .products-page {
        .products-service-hero-section {
            .left-subcontainer {
                button {
                    &.btn-primary {
                        @apply bg-[#3A80AF] border-[#3A80AF];
                    }
                    &.btn-outline-primary {
                        @apply text-[#3A80AF] border-[#3A80AF];
                        svg {
                            path {
                                @apply fill-[#3A80AF];
                            }
                        }
                    }
                }
            }
            .right-subcontainer {
                .form-service {
                    @apply !bg-[#1b1f22];
                    .button-tab {
                        button {
                            &.active {
                                @apply bg-[#3A80AF] text-white;
                            }
                        }
                        &.buy {
                            &::after {
                                @apply bg-[#3A80AF];
                            }
                        }
                        &.sell {
                            &::after {
                                content: '';
                                @apply absolute right-[calc(50%-15px)] z-[1] h-full w-[30px] bg-red-600 skew-x-[-25deg];
                            }
                            button {
                                &.active {
                                    @apply bg-red-600;
                                }
                            }
                        }
                    }
                    button {
                        &.btn-primary {
                            @apply bg-[#3A80AF] border-[#3A80AF];
                        }
                    }
                }
            }
        }
        .products-average-section{
            .box-container {
                @apply bg-[#1b1f22];
                .sub-container {
                    .detail-subcontainer {
                        .detail-description-subcontainer {
                            p {
                                span {
                                    @apply !text-[#FF7F17];   
                                }
                            }
                        }
                    }
                }
            }
        }
        .products-affliate-section {
            button {
                @apply !bg-[#3A80AF] !text-white;
            }
        }
        .products-investasi-now-section {
            a {
                @apply !bg-[#3A80AF] !text-white;
            }
        }
        .products-layanan-section {
            @apply p-[20px];
            .layanan-container {
                .card-subcontainer {
                    @apply !bg-[#1b1f22];
                }
            }
        }
    }
}
.products-page {
    @apply pb-0;
    &.dark-theme {
        h1, h2, h3, h4, h5 {
            @apply text-slate-200;
        }
        p {
            @apply text-slate-300;
        }
        a {
            @apply text-[#737aff]
        }
    }
    &.light-theme {
        h1, h2, h3, h4, h5 {
            @apply text-black;
        }
        p {
            @apply text-neutral-700;
        }
    }
    .products-service-hero-section {
        @apply flex flex-col justify-center items-center py-[50px] px-[100px] gap-[20px] bg-[#F6F9FB] relative;
        background: url("/images/ornaments/service-ornament.png") no-repeat;
        background-position: center;
        background-size: cover;
        .service-hero-container {
            @apply flex gap-[124px] w-full; 
            .left-subcontainer {
                @apply flex flex-col gap-[40px] flex-1;
                .text-area {
                    @apply flex flex-col gap-[30px];
                    h2 {
                        @apply text-[60px]/[90px] font-black text-black;
                        span {
                            background: linear-gradient(89.51deg, #1B4CA7 7.36%, #318AC6 98.35%);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                    p {
                        @apply text-[16px]/[32px] text-neutral-700;
                    }
                }
                .button-logo-area {
                    @apply flex flex-col gap-[90px];
                    .button-group {
                        @apply flex items-center gap-[20px];
                        button {
                            @apply w-[260px] h-[48px] rounded-[30px] text-[14px]/[21px];
                        }
                    }
                    h5 {
                        @apply hidden;
                    }
                    .logo-area {
                        @apply flex items-center gap-[30px];
                        .bappebti-logo {
                            img {
                                @apply w-[147px] h-[34px];
                            }
                        }
                        .kominfo-logo {
                            img {
                                @apply w-[118px] h-[37px];
                            }
                        }
                        .bsi-logo {
                            img {
                                @apply w-[83px] h-[44px];
                            }
                        }
                        .cisa-logo {
                            img {
                                @apply w-[110px] h-[44px];
                            }
                        }
                    }
                }
               
            }
            .right-subcontainer {
                @apply w-[512px];
            }
            @media (max-width: 1380px) {
                @apply gap-[75px] justify-between;
                .left-subcontainer {
                    @media (max-width: 1380px) {
                        .text-area {
                            h2 {
                                @apply text-[45px]/[65px];
                            }
                            p {
                                @apply text-[14px]/[21px];
                            }
                        }
                    }
                }
                .right-subcontainer {
                    .form-service {
                        @apply rounded-[34px] flex flex-col p-[40px] gap-[30px] bg-white;    
                        box-shadow: 0px 4px 40px 0px #00000033;
                        .button-tab {
                            @apply flex items-center relative;
                            button {
                                @apply h-[55px] text-[17px]/[24px] rounded-none ;
                            }
                            

                        }
                        .title {
                            @apply text-[19px]/[30px];
                        }
                        .description {
                            @apply text-[15px]/[23px];
                        }
                        .nominal {
                            @apply text-[22px]/[34px];
                        }
                        .button-group {
                            @apply flex items-center gap-[10px];
                            button {
                                @apply rounded-[10px] text-[12px]/[18px] px-[12px] py-[4px] h-[28px];
                            }
                        }
                        .get-input {
                            @apply flex flex-col gap-[18px];
                            label {
                                @apply text-[14px]/[21px] font-medium text-neutral-700;
                            }
                            .label-value {
                                @apply bg-neutral-100 h-[52px] w-full flex flex-col justify-center px-[20px] py-[8px];
                                span {
                                    @apply text-[21px]/[34px];
                                }
                            }
                        }
                        button {
                            @apply rounded-[10px] text-[16px]/[24px] h-[54px];
                        }
                    }
                }
            }
        }
        /* &::after {
            content: '';
            @apply absolute w-[500px] h-[500px] right-[50%];
            background: url("/images/ornaments/circle-loop-ornament-2.png") no-repeat;
        } */
    }
    .products-regulasi-section {
        @apply flex flex-col items-center px-[100px] py-[50px] relative gap-[50px];
        .regulasi-container {
            @apply flex gap-[50px];
            .box-subcontainer {
                @apply w-1/2 flex flex-col gap-[20px];
                .img-box {
                    @apply w-[460px] h-[460px] relative;
                    img {
                        @apply w-full h-full object-cover;
                    }
                    &::after {
                        content: '';
                        @apply absolute right-0 top-0 w-full h-full z-[-1];
                        background: url("/images/ornaments/circle-loop-ornament-2.png") no-repeat;
                    }
                }
                h5 {
                    @apply text-[28px]/[42px] font-black text-black;
                }
                p {
                    @apply text-[16px]/[32px] font-medium text-neutral-700;
                    span {
                        @apply underline;
                    }
                }
            }
        }
    }
    .products-layanan-section {
        @apply flex flex-col items-center px-[100px] py-[50px] relative gap-[50px];
        .title-container {
            @apply flex flex-col items-center text-center justify-center gap-[20px];
            h2 {
                @apply text-[48px]/[72px] text-black font-black;
                span {
                    background: linear-gradient(89.51deg, #1B4CA7 7.36%, #318AC6 98.35%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            p {
                @apply text-[18px]/[27px] font-medium text-neutral-700;
            }
        }
        .layanan-container {
            @apply flex flex-col gap-[20px];
           .card-subcontainer {
                @apply w-full rounded-[30px] flex items-start justify-between h-[400px] transition-transform duration-200 ease-linear origin-top sticky overflow-hidden ;
                padding-top: calc(var(--index) * var(--card-top-offset));
                &.swap {
                    @apply bg-[#F0FAF0];
                    .box-layanan {
                        span {
                            @apply  bg-[#67C48F];
                            svg {
                                path {
                                    @apply fill-white;
                                }
                            }
                        }
                    }
                }
                &.hoddl {
                    @apply bg-[#FFF3E8];
                    .box-layanan {
                        span {
                            @apply  bg-[#FF7F17];
                            svg {
                                path {
                                    @apply fill-white;
                                }
                            }
                        }
                    }
                }
                &.kirim {
                    @apply bg-[#EBFBF9];
                    .box-layanan {
                        span {
                            @apply  bg-[#289C8C];
                            svg {
                                path {
                                    @apply fill-white;
                                }
                            }
                        }
                    }
                }
                &.jual-beli {
                    @apply bg-[#F4F8FB];
                    .box-layanan {
                        span {
                            @apply  bg-[#85C8FA];
                            svg {
                                path {
                                    @apply fill-white;
                                }
                            }
                        }
                    }
                }
                &.terima {
                    @apply bg-[#FFF9E6];
                    .box-layanan {
                        span {
                            @apply  !bg-[#F2AF22];
                            svg {
                                path {
                                    @apply fill-white;
                                }
                            }
                        }
                    }
                }
                &.pulsa {
                    @apply bg-[#F8ECF5];
                    .box-layanan {
                        span {
                            @apply  bg-[#B63F9B];
                            svg {
                                path {
                                    @apply fill-white;
                                }
                            }
                        }
                    }
                }
                .box-layanan {
                    @apply w-1/2 flex flex-col gap-[10px] p-[40px];
                    span {
                        @apply bg-[#B63F9B] w-[80px] h-[80px] rounded-[50%] flex flex-col justify-center items-center;
                    }
                    .content {
                        @apply flex flex-col gap-[10px];
                        h5 {
                            @apply text-[31px]/[48px] font-bold text-neutral-800;
                        }
                        p {
                            @apply text-[16px]/[32px] font-medium text-neutral-700;
                        }
                    }
                }
                .box-img {
                    @apply flex flex-col items-center relative w-1/2 h-full;
                    &.macbook {
                        @apply justify-center;
                        img {
                            @apply w-[488px] h-[314px];

                        }
                    }
                    &.iphone {
                        @apply justify-end;
                        img {
                            @apply w-[271px];
                        }
                    }
                    &.device-transfer {
                        @apply justify-center;
                        img {
                            @apply w-[365px] h-[444px];

                        }
                    }
                    &.device-pay {
                        @apply justify-center;
                        img {
                            @apply w-[371px] h-[418px];

                        }
                    }
                    &.wallet-debit {
                        @apply justify-center;
                        img {
                            @apply w-[380px] h-[402px];

                        }
                    }
                    &.swap-paypal {
                        @apply justify-end;
                        img {
                            @apply w-[271px];
                        }
                    }
                    &.cashback {
                        @apply justify-center;
                        img {
                            @apply w-[406px];
                        }
                    }
                }
           }
        }
    }
    .products-affliate-section {
        @apply relative flex flex-col justify-center py-[50px];
        .affliate-container {
            @apply flex justify-between items-center h-[490px] px-[100px] gap-[20px];
            background: url("/images/backgrounds/affliate.png") no-repeat;
            background-position: center;
            background-size: cover;
            .image-subcontainer {
                @apply w-[400px] h-full flex flex-col justify-end;
                img {
                    @apply w-[400px];
                }
            }
            .text-subcontainer {
                @apply flex items-center gap-[20px] flex-1;
                .left-subcontainer {
                    @apply flex flex-col gap-[40px] w-1/2;
                    .sub-subcontainer {
                        @apply flex flex-col gap-[10px];
                        h5 {
                            @apply text-[30px]/[45px] font-black text-primary;
                        }
                        p {
                            @apply text-[16px]/[32px] font-medium text-neutral-200;
                        }
                    }
                    @media (max-width: 1380px) {
                        .sub-subcontainer {
                            h5 {
                                @apply text-[25px]/[40px];
                            }
                            p {
                                @apply text-[15px]/[25px];
                            }
                        }
                    }
                }
                .right-subcontainer {
                    @apply flex flex-col gap-[40px] w-1/2;
                    h5 {
                        @apply text-[40px]/[60px] font-bold text-white;
                    }
                    .button-group {
                        @apply flex flex-col gap-[22px];
                        button {
                            @apply flex justify-center items-center bg-primary text-white rounded-[10px] py-[13px] w-full h-[54px] text-[16px]/[24px] font-bold;
                        }
        
                    }

                    @media (max-width: 1380px) {
                        h5 {
                            @apply text-[30px]/[45px];
                        }
                        .button-group {
                           button {
                            @apply h-[45px];
                           }
                        }
                    }
                }
            }
        }
    }
    .products-average-section {
        @apply flex flex-col items-center px-[100px] py-[75px] relative;
        .box-container {
            @apply flex flex-col items-center bg-[#F4F8FB] rounded-[40px] px-[40px] py-[40px] gap-[60px] relative w-[100%] overflow-hidden;
            .sub-container {
                @apply flex z-[1];
                .detail-subcontainer {
                    @apply flex items-start w-1/2 gap-[10px];
                    .detail-img {
                        @apply flex items-start gap-[4px] w-[180px];
                        img {
                            @apply w-[188px] h-[188px];
                        }
                        h5 {
                            @apply text-[96px]/[96px] font-black;
                            background: linear-gradient(89.51deg, #1B4CA7 7.36%, #318AC6 98.35%);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                            span {
                                @apply text-[48px]/[72px];
                            }
                        }
                    }
                    .detail-description-subcontainer {
                        @apply flex flex-col items-start flex-1 mt-[80px];
                        p {
                            @apply text-[36px]/[46px] font-black text-neutral-800 mb-[10px];
                        }
                        span {
                            @apply text-[14px]/[21px] font-medium text-neutral-700;
                            span {
                                @apply text-[#FF7F17];
                            }
                        }
                    }
                }
            }
            &::after {
                content: '';
                @apply absolute bottom-[-50px] w-[201px] h-[201px] right-0 top-0;
                background: url("/images/ornaments/investasi-right-ornament.png") no-repeat;
            }
            &::before {
                content: '';
                @apply absolute bottom-[-50px] w-[201px] h-[201px] left-0 top-0;
                background: url("/images/ornaments/investasi-left-ornament.png") no-repeat;
            }
        }
    
    }   
    .products-ewallet-section {
        @apply flex items-center relative py-[50px];
        .ewallet-description {
            @apply flex-1 flex flex-col gap-[20px] pl-[100px];
            h2 {
                @apply text-[45px]/[65px] font-black text-neutral-900;
                span {
                    background: linear-gradient(89.49deg, #1B4CA7 -18.69%, #318AC6 98.33%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            h5 {
                @apply text-[20px]/[30px] font-bold;
                background: linear-gradient(89.33deg, #0C29C1 0.57%, #FA00FF 147.17%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            p {
                @apply text-[16px]/[32px] font-medium text-neutral-700;
            }
        }
        .ewallet-image {
            @apply w-[550px] h-[400px] relative;
            img {
               @apply w-full;
            }
        }
    }
    .products-banner-section {
        @apply p-[100px];
        .main-container {
            .sub-container {
                @apply rounded-tl-[40px] rounded-tr-[40px] h-[380px] flex gap-[20px] relative;
                background: linear-gradient(89.49deg, #1B4CA7 -18.69%, #318AC6 98.33%);
                .text-area {
                    @apply flex flex-col w-[60%] gap-[10px] justify-center pl-[50px];
                    .text-header {
                        @apply flex flex-col gap-[10px] w-[98%];
                        h2 {
                            @apply text-[40px]/[60px] text-white font-black;
                        }
                        p {
                            @apply text-[16px]/[32px] text-white font-medium w-[80%];
                        }
                    }
                    .button-area {
                        @apply flex items-center gap-[39px];
                        a {
                            @apply flex justify-center items-center bg-white text-primary rounded-[30px] py-[9px] w-[200px] h-[48px] text-[14px]/[21px] font-bold gap-[4px];   
                             
                        }
                        .app-store-list {
                            @apply flex items-center gap-[14px];
                            img {
                                &.playstore-logo {
                                    @apply w-[130px] h-[38px];
                                }
                                &.apple-logo {
                                    @apply w-[114px] h-[37px];
                                }
                            }
                        }
                    }
                }
                .image-area {
                    @apply flex-1 overflow-hidden;
                    img {
                        @apply absolute bottom-0 left-0 w-[510px];
                    }
                }
            }
        }
        @media (max-width: 1380px) {
            .main-container {
                .sub-container {
                    @apply gap-[30px];
                    .text-area {
                        @apply pl-[100px];
                        .text-header {
                            @apply flex flex-col gap-[10px] w-[90%];
                            h2 {
                                @apply text-[34px]/[42px] ;
                            }
                            p {
                                @apply text-[15px]/[30px];
                            }
                        }
                        .button-area {
                            @apply flex items-center gap-[20px];
                            a {
                                @apply rounded-[24px] py-[9px] w-[200px] h-[42px] text-[14px]/[21px] ;   
                                 
                            }
                        }
                    }
                }
            }
        }

    }
    @layer components {
        &.mobile-responsive {
            padding-top: 50px;
            .products-service-hero-section {
                @apply p-[20px];
                .service-hero-container {
                    @apply flex-col gap-[40px]; 
                    .left-subcontainer {
                        @apply flex flex-col gap-[20px] w-full;
                        .text-area {
                            @apply flex flex-col gap-[30px] text-center;
                            h2 {
                                @apply text-[14px]/[21px] font-bold;
                            }
                            p {
                                @apply text-[10px]/[15px];
                            }
                        }
                        .button-logo-area {
                            @apply gap-[20px];
                            .button-group {
                                @apply flex flex-col gap-[10px];
                                button {
                                    @apply w-[200px] h-[34px] rounded-[30px] text-[12px]/[18px];
                                }
                            }
                            h5 {
                                @apply block text-[10px]/[15px] text-center text-neutral-700;
                            }
                            .logo-area {
                                @apply gap-[5px] justify-center;
                                .bappebti-logo {
                                    img {
                                        @apply w-[60px] h-[13px];
                                    }
                                }
                                .kominfo-logo {
                                    img {
                                        @apply w-[60px] h-[20px];
                                    }
                                }
                                .bsi-logo {
                                    img {
                                        @apply w-[37px] h-[20px];
                                    }
                                }
                                .cisa-logo {
                                    img {
                                        @apply w-[51px] h-[22px];
                                    }
                                }
                            }
                        }
                    }
                    .right-subcontainer {
                        @apply w-full px-[20px];
                        .form-service {
                            @apply rounded-[23px] p-[23px] gap-[17px];    
                            box-shadow: 0px 4px 40px 0px #00000033;
                            .button-tab {
                                @apply flex items-center relative;
                                button {
                                    @apply h-[34px] text-[12px]/[17px] rounded-none;
                                }
                                &.buy {
                                    &::after {
                                        content: '';
                                        @apply absolute left-[calc(50%-22px)] z-[1] h-full w-[30px] bg-primary skew-x-[-25deg];
                                    }
                                }
                                &.sell {
                                    &::after {
                                        content: '';
                                        @apply absolute right-[calc(50%-22px)] z-[1] h-full w-[30px] bg-red-600 skew-x-[-25deg];
                                    }
                                    button {
                                        &.active {
                                            @apply bg-red-600;
                                        }
                                    }
                                }
                            }
                            .title {
                                @apply text-[12px]/[19px];
                            }
                            .description {
                                @apply text-[9px]/[14px] text-neutral-700 font-medium;
                            }
                            .nominal {
                                @apply text-[14px]/[21px] font-bold text-neutral-800;
                            }
                            .button-group {
                                @apply flex items-center gap-[10px];
                                button {
                                    @apply rounded-[6px] text-[8px]/[12px] px-[8px] py-[6px] h-[18px];
                                }
                            }
                            .get-input {
                                @apply flex flex-col gap-[18px];
                                label {
                                    @apply text-[9px]/[14px];
                                }
                                .label-value {
                                    @apply h-[30px];
                                    span {
                                        @apply text-[14px]/[21px];
                                    }
                                }
                            }
                            button {
                                @apply rounded-[8px] text-[9px]/[14px] h-[31px];
                            }
                        }
                    }
                }
                /* &::after {
                    content: '';
                    @apply absolute w-[500px] h-[500px] right-[50%];
                    background: url("/images/ornaments/circle-loop-ornament-2.png") no-repeat;
                } */
            }
            .products-regulasi-section {
                @apply p-[20px];
                .regulasi-container {
                    @apply flex-col justify-center items-center;
                    .box-subcontainer {
                        @apply w-full text-center justify-center items-center;
                        .img-box {
                            @apply w-full h-full relative flex flex-col justify-center items-center;
                            img {
                                @apply w-[212px]  h-[212px]  object-cover;
                            }
                            &::after {
                                content: '';
                                @apply absolute right-[63px] top-0 w-[63%] z-[-1];
                                background: url("/images/ornaments/circle-loop-ornament-2.png") no-repeat;
                                background-size: cover;
                            }
                        }
                        h5 {
                            @apply text-[14px]/[21px];
                        }
                        p {
                            @apply text-[12px]/[18px];
                        }
                    }
                }
            }
            .products-layanan-section {
                @apply p-[20px];
                .title-container {
                    h2 {
                        @apply text-[14px]/[21px] font-bold;
                    }
                    p {
                        @apply text-[10px]/[15px] ;
                    }
                }
                .layanan-container {
                    @apply flex flex-col gap-[20px];
                   .card-subcontainer {
                        @apply flex-col h-[574px]  rounded-[22px];
                        padding-top: calc(var(--index) * var(--card-top-offset));
                        &.swap {
                            @apply bg-[#F0FAF0];
                            .box-layanan {
                                span {
                                    @apply  bg-[#67C48F];
                                    svg {
                                        path {
                                            @apply fill-white;
                                        }
                                    }
                                }
                            }
                        }
                        &.hoddl {
                            @apply bg-[#FFF3E8];
                            .box-layanan {
                                span {
                                    @apply  bg-[#FF7F17];
                                    svg {
                                        path {
                                            @apply fill-white;
                                        }
                                    }
                                }
                            }
                        }
                        &.kirim {
                            @apply bg-[#EBFBF9];
                            .box-layanan {
                                span {
                                    @apply  bg-[#289C8C];
                                    svg {
                                        path {
                                            @apply fill-white;
                                        }
                                    }
                                }
                            }
                        }
                        &.jual-beli {
                            @apply bg-[#F4F8FB];
                            .box-layanan {
                                span {
                                    @apply  bg-[#85C8FA];
                                    svg {
                                        path {
                                            @apply fill-white;
                                        }
                                    }
                                }
                            }
                        }
                        &.terima {
                            @apply bg-[#FFF9E6];
                            .box-layanan {
                                span {
                                    @apply  !bg-[#F2AF22];
                                    svg {
                                        path {
                                            @apply fill-white;
                                        }
                                    }
                                }
                            }
                        }
                        &.pulsa {
                            @apply bg-[#F8ECF5];
                            .box-layanan {
                                span {
                                    @apply  bg-[#B63F9B];
                                    svg {
                                        path {
                                            @apply fill-white;
                                        }
                                    }
                                }
                            }
                        }
                        .box-layanan {
                            @apply w-full justify-center items-center text-center;
                            span {
                                @apply w-[60px] h-[60px];
                                svg {
                                    @apply w-[50%];
                                }
                            }
                            .content {
                                @apply flex flex-col gap-[10px];
                                h5 {
                                    @apply text-[24px]/[36px];
                                }
                                p {
                                    @apply text-[12px]/[24px];
                                }
                            }
                        }
                        .box-img {
                            @apply w-full;
                            &.macbook {
                                @apply justify-center;
                                img {
                                    @apply w-[80%] h-[80%];
        
                                }
                            }
                            &.iphone {
                                @apply justify-end;
                                img {
                                    @apply w-[50%];
                                }
                            }
                        }
                   }
                }
            }
            .products-affliate-section {
                @apply py-[50px];
                .affliate-container {
                    @apply flex-col h-full px-[20px] py-[37px];
                    .image-subcontainer {
                        @apply w-full flex flex-col justify-center items-center;
                        img {
                            @apply w-[258px];
                        }
                    }
                    .text-subcontainer {
                        @apply w-full flex-col justify-center items-center text-center;
                        .left-subcontainer {
                            @apply flex flex-col gap-[30px] w-full;
                            .sub-subcontainer {
                                @apply flex flex-col gap-[10px];
                                h5 {
                                    @apply text-[18px]/[27px];
                                }
                                p {
                                    @apply text-[12px]/[18px];
                                }
                            }
                        }
                        .right-subcontainer {
                            @apply flex flex-col gap-[30px] w-full;
                            h5 {
                                @apply text-[16px]/[24px];
                            }
                            .button-group {
                                @apply flex flex-col justify-center items-center gap-[20px];
                                button {
                                    @apply w-[200px] rounded-[30px] text-[12px]/[18px] h-[34px];
                                }
                
                            }
                        }
                    }
                }
            }
            .products-average-section {
                @apply p-[20px];
                .box-container {
                    @apply rounded-br-none rounded-bl-none;
                    .sub-container {
                        @apply flex-col gap-[30px];
                        .detail-subcontainer {
                            @apply w-full flex-col justify-center items-center;
                            .detail-img {
                                @apply items-center w-full justify-center;
                                img {
                                    @apply w-[61px] h-[61px];
                                }
                                h5 {
                                    @apply text-[22px]/[33px];
                                    span {
                                        @apply text-[16px]/[25px];
                                    }
                                }
                            }
                            .detail-description-subcontainer {
                                @apply w-full mt-0 justify-center items-center text-center;
                                p {
                                    @apply text-[10px]/[15px];
                                }
                                span {
                                    @apply text-[10px]/[15px];
                                }
                            }
                        }
                    }
                    &::after {
                        content: '';
                        @apply absolute bottom-[-50px] w-[70px] h-[70px] right-0 top-0;
                        background: url("/images/ornaments/investasi-right-ornament-mobile.png") no-repeat;
                    }
                    &::before {
                        content: '';
                        @apply absolute bottom-[-50px] w-[70px] h-[70px] right-0 top-0;
                        background: url("/images/ornaments/investasi-left-ornament-mobile.png") no-repeat;
                    }
                }
            
            }   
            .products-ewallet-section {
                @apply flex-col py-[30px] px-[20px] gap-[20px];
                .ewallet-description {
                    @apply justify-center items-center w-full text-center p-0;
                    h2 {
                        @apply text-[14px]/[21px];
                    }
                    h5 {
                        @apply text-[10px]/[15px];
                    }
                    p {
                        @apply text-[10px]/[15px];
                    }
                }
                .ewallet-image {
                    @apply w-[246px] h-full flex flex-col justify-center items-center;
                    img {
                        @apply w-[246px] h-[219px] relative;
                    }
                }
            }
            .products-banner-section {
                @apply p-[20px];
                .main-container {
                    .sub-container {
                        @apply h-[98px] rounded-tl-[10px] rounded-tr-[10px];
                        .text-area {
                            @apply flex flex-col w-[60%] gap-[7px] justify-center pl-[15px];
                            .text-header {
                                @apply flex flex-col gap-[2px];
                                h2 {
                                    @apply text-[10px]/[15px] text-white font-black;
                                }
                                p {
                                    @apply text-[4px]/[8px] text-white font-medium w-[80%];
                                }
                            }
                            .button-area {
                                @apply gap-[7px];
                                a {
                                    @apply  w-[51px] h-[12px] text-[3px]/[5px] py-[3px] px-[8px] rounded-[7px];   
                                    svg {
                                        @apply w-[4px] h-[4px];
                                    }
                                }
                                .app-store-list {
                                    @apply gap-[3px];
                                    img {
                                        &.playstore-logo {
                                            @apply w-[33px] h-[10px];
                                        }
                                        &.apple-logo {
                                            @apply w-[30px] h-[10px];
                                        }
                                    }
                                }
                            }
                        }
                        .image-area {
                            @apply flex-1 overflow-hidden;
                            img {
                                @apply absolute bottom-0 right-0 w-[150px];
                            }
                        }
                    }
                }
        
            }
        }
    }
}