@tailwind base;
@tailwind components;
@tailwind utilities;

.staking-page {
    &.dark-theme {
        h1, h2, h3, h4, h5 {
            @apply text-slate-200;
        }
        p {
            @apply text-slate-300;
        }
        a {
            @apply text-[#737aff]
        }
    }
    &.light-theme {
        h1, h2, h3, h4, h5 {
            @apply text-black;
        }
        p {
            @apply text-neutral-700;
        }
    }
    .staking-header-section {
        @apply  py-[50px] px-[100px] flex flex-col gap-[20px] text-center;
        h1 {
            @apply text-[28px]/[42px] font-bold;
        }
        p {
            @apply text-[18px]/[27px] font-medium;
        }
        
    }
    .staking-benefit-section {
        @apply py-[50px] px-[100px] flex gap-[80px];
        .media-container {
            @apply w-1/2;
            .frame-media {
                iframe {
                    @apply w-full h-[324px] rounded-tl-[11px] rounded-tr-[11px];
                }
            }
            .description-media {
                @apply flex flex-col gap-[11px] bg-white rounded-[22px] p-[22px];
                box-shadow: 4.42px 15.47px 33.14px 0px #00000014;
                h5 {
                    @apply text-[17.68px]/[26.51px] font-bold;
                }
                p {
                    @apply text-[11.05px]/[16.57px] font-normal;
                }
            }
        }
        .benefit-container {
            @apply w-1/2 flex flex-col gap-[40px];
            h2 {
                @apply text-[20px]/[30px] font-bold;
            }
            .benefit-type-container {
                @apply flex gap-[20px];
                .benefit-icon {
                    @apply w-[60px];
                    img {
                        @apply w-[60px] h-[60px];

                    }
                }
                .benefit-desc {
                    @apply flex flex-col flex-1 gap-[14px];
                    h4 {
                        @apply text-[18px]/[27px] font-bold;
                    }
                    p {
                        @apply text-[14px]/[21px] font-medium;
                    }
                }
            }
            button {
                @apply flex justify-center items-center bg-primary text-white rounded-[10px] py-[9px] w-[260px] text-[14px]/[21px] font-bold;   
            }
        }
    }
    .staking-guide-crypto-section {
        @apply  py-[50px] px-[100px] flex gap-[40px];
        .guide-container {
            @apply flex flex-col gap-[60px] w-1/2;
            h2 {
                @apply text-[28px]/[42px] font-bold;
            }
            .guide-steps {
                @apply px-[30px];
                ul {
                    li {
                        @apply list-none flex gap-[23px] pl-[60px] relative;
                        &:not(:last-child) {
                            @apply pb-[55px] border-l-2 border-[#94CCF2] border-dashed;
                        }
                        .guide-icon {
                            @apply w-[65px] absolute left-[-30px];
                            img {
                                @apply w-full h-full;
                            }
                        }
                        .guide-desc {
                            @apply flex flex-col flex-1 gap-[8px];
                            h5 {
                                @apply text-[18px]/[27px] font-bold text-neutral-800;
                            }
                            p {
                                @apply text-[14px]/[21px] font-medium text-neutral-700;
                            }
                        }
                    }
                }
            }
        }
        .image-container {
            @apply flex flex-col justify-center w-1/2;
            img {
                @apply w-[620px] h-[519px] object-contain;
                &.step-koin {
                    @apply w-[65.5px] h-[74px]
                }
            }
        }
    }
    .staking-calculator-section {
        @apply px-[100px] py-[50px] gap-[80px] flex flex-col justify-center items-center;
        
        .card-staking-calculator{
            @apply flex items-center gap-[73px] p-[40px] rounded-[20px];
            box-shadow: 4px 14px 30px 0px #00000014;
            .image-container {
                @apply w-[372px];
                img {
                    @apply w-[372px] h-[233px];
                }
            }
            .calculator-container {
                @apply flex flex-col flex-1 gap-[24px];
                .top-subcontainer {
                    @apply flex flex-col gap-[20px];
                    h2 {
                        @apply text-[20px]/[30px] font-bold;
                    }
                    .sub-subcontainer {
                        @apply flex gap-[20px];
                        .form-input {
                            @apply flex gap-[8px] items-center;
                            label {
                                @apply text-[12px]/[18px] font-medium text-neutral-700;
                            }
                            input, select {
                                @apply w-[220px];
                            }
                        }
                    }
                }
                .middle-subcontainer {
                    @apply flex gap-[100px];
                    .sub-subcontainer {
                        @apply flex flex-col gap-[8px];
                        label {
                            @apply text-[24px]/[36px] font-bold text-primary;
                            span {
                                @apply text-[14px]/[21px] font-medium text-primary;
                            }
                        }
                        span {
                            @apply text-neutral-700;
                        }
                    }
                }
                .bottom-subcontainer{
                    p {
                        @apply text-[10px]/[15px] font-medium text-neutral-500;
                    }
                }
            }
        }
    }
    .staking-coins-section {
        @apply px-[100px] py-[50px] gap-[80px] flex flex-col justify-center items-center;
        
        .header-coins-staking {
            @apply flex flex-col gap-[20px] text-center;
            h2 {
                @apply text-[28px]/[42px] font-bold;
            }
            p {
                @apply text-[16px]/[32px] font-medium text-neutral-700;
            }
        }
        .list-coins-staking {
            @apply flex flex-wrap;
            .coin-staking-container {
                @apply w-1/3 p-[20px];
            }
        }
    }
    .staking-faq-section {
        @apply py-[50px] px-[100px] flex flex-col gap-[20px];
        h2 {
            @apply text-[28px]/[42px] font-bold text-center;
        }
        .question-faq-staking {
            @apply flex gap-[80px] items-center;
            .question-faq-accordion {
                @apply flex-1;
                ul {
                    li {
                        &:not(:last-child) {
                            @apply relative pb-[10px];
                        }
                        button {
                            @apply w-full py-[8px] text-left;
                            .header-button {
                                @apply flex items-center justify-between;
                                label {
                                    @apply text-[18px]/[27px] font-bold cursor-pointer text-black;
                                }
                            }
                        }
                        .accordion-content {
                            @apply relative overflow-hidden transition-all duration-700;
                            .content-area {
                                @apply py-[8px];
                                p {
                                    @apply text-[14px]/[21px] font-normal;
                                }
                            }
                        }
                    }
                }
            }
            .question-faq-image {
                @apply w-[197px] flex flex-col justify-center;
                img {
                    @apply w-[197px] h-[252px];
                }
            }
        }
    }
    .staking-start-now-section {
        @apply flex items-center py-[50px]  px-[100px] gap-[100px];
        .image-container {
            @apply w-1/2 flex flex-col justify-center items-end relative;
            img {
                @apply  w-[392px] h-[355px] ;
            }
            &::before {
                content: '';
                @apply absolute right-[50px]  w-[500px] h-[500px] z-[-1];
                background: url("/images/ornaments/circle-loop-ornament-2.png") no-repeat;
            }
        }
        .description-container {
            @apply w-1/2 flex flex-col gap-[30px];
            .start-now-description {
                @apply flex-1 flex flex-col gap-[18px];
                h2 {
                    @apply text-[28px]/[42px] font-bold text-neutral-900;
                }
                p {
                    @apply text-[16px]/[32px] font-medium text-neutral-700;
                }
            }
           .start-button-logo {
                @apply flex gap-[30px];
                a {
                    @apply flex justify-center gap-[8px] items-center bg-primary text-white rounded-[30px] py-[13px] w-[260px] text-[14px]/[21px] font-bold;
                    svg {
                        path {
                            @apply fill-white;
                        }
                    }
                }
                .start-now-store {
                    @apply flex gap-[14px] items-center;
                    img {
                        &.apple-logo {
                            @apply w-[31px] h-[37px];
                        }
                        &.playstore-logo {
                            @apply w-[30px] h-[32px];
    
                        }
                    }
                }
                .start-now-store-mobile {
                    @apply hidden gap-[14px] items-center;
                    img {
                        &.apple-logo {
                            @apply w-[130.64px] h-[38.71px];
                        }
                        &.playstore-logo {
                            @apply w-[114.43px] h-[37.02px];
    
                        }
                    }
                }
           }
        }
    }
    .staking-testimony-carousel-section {
        @apply px-[100px] py-[50px] gap-[60px] flex justify-center items-center;
    }

    @layer components {
        &.mobile-responsive {
            @apply pt-[40px];
            .staking-header-section {
                @apply  py-[30px] px-[20px] gap-[10px];
                h1 {
                    @apply text-[16px]/[24px];
                }
                p {
                    @apply text-[10px]/[15px];
                }
            }
            .staking-benefit-section {
                @apply  py-[30px] px-[20px] gap-[60px] flex-col-reverse;
                .benefit-container {
                    @apply gap-[30px] w-full;
                    h2 {
                        @apply text-[16px]/[24px] text-center;
                    }
                    .benefit-type-container {
                        .benefit-icon {
                            @apply w-[40px];
                            img {
                                @apply w-[40px] h-[40px];
        
                            }
                        }
                        .benefit-desc {
                            h4 {
                                @apply text-[14px]/[21px];
                            }
                            p {
                                @apply text-[12px]/[18px];

                            }
                        }
                    }
                }
                button {
                    @apply w-full rounded-[30px] text-[12px]/[18px];
                }
                .media-container {
                    @apply w-full;
                    .frame-media {
                        iframe {
                            @apply h-[320px] rounded-tl-[11px] rounded-tr-[11px];
                        }
                    }
                    .description-media {
                        @apply rounded-[11px] p-[11px];
                        h5 {
                            @apply text-[10px]/[15px] font-bold;
                        }
                        p {
                            @apply text-[6px]/[9px] font-normal;
                        }
                    }
                }
            }
            .staking-guide-crypto-section {
                @apply  py-[30px] px-[20px] gap-[60px] flex-col-reverse;
                .guide-container {
                    @apply w-full gap-[14px];
                    h2 {
                        @apply text-[16px]/[24px] text-center;
                    }
                    .guide-steps {
                        @apply px-[30px];
                        ul {
                            li {
                                @apply list-none flex gap-[23px] pl-[40px] relative;
                                &:not(:last-child) {
                                    @apply pb-[30px] border-l-2 border-[#94CCF2] border-dashed;
                                }
                                .guide-icon {
                                    @apply w-[35px] absolute left-[-19px];
                                    img {
                                        @apply w-[34.89px] h-[34.89px];
                                        &.step-koin {
                                            @apply w-[34.89px] h-[40px]
                                        }
                                    }
                                }
                                .guide-desc {
                                    @apply flex flex-col flex-1 gap-[8px];
                                    h5 {
                                        @apply text-[12px]/[18px];
                                    }
                                    p {
                                        @apply text-[10px]/[15px];
                                    }
                                }
                            }
                        }
                    }
                }
                .image-container {
                    @apply w-full justify-center items-center;
                    img {
                        @apply w-[286px] h-[240px];
                    }
                }
            }
            .staking-calculator-section {
                @apply py-[30px] px-[20px] gap-[60px];
                .card-staking-calculator {
                    @apply flex-col gap-[30px];
                    .image-container {
                        @apply w-[240px];
                        img {
                            @apply w-[240px] h-[142px];
                        }
                    }
                    .calculator-container {
                        @apply flex-col;
                        .top-subcontainer {
                            h2 {
                                @apply text-[16px]/[24px];
                            }
                            .sub-subcontainer {
                                @apply flex-col gap-[20px] w-full;
                                .form-input {
                                    @apply flex-col w-full gap-[8px] items-start;
                                    label {
                                        @apply text-[12px]/[18px] font-medium text-neutral-700;
                                    }
                                    .group-input {
                                        @apply w-full;
                                        input {
                                            @apply w-full h-[41px];
                                        }
                                    }
                                    select {
                                        @apply w-full h-[41px];
                                    }
                                }
                            }
                        }
                        .middle-subcontainer {
                            @apply flex-col gap-[23px];  
                            .sub-subcontainer {
                                @apply flex-row-reverse justify-between items-center;
                                span {
                                    @apply text-[10px]/[15px];
                                }
                                label {
                                    @apply text-[14px]/[21px];
                                }
                            }
                        }
                        .bottom-subcontainer{
                            p {
                                @apply text-[8px]/[12px];
                            }
                        }
                    }
                }
            }
            .staking-coins-section {
                @apply py-[30px] px-[20px] gap-[30px];
                .header-coins-staking {
                    @apply gap-[10px];
                    h2 {
                        @apply text-[14px]/[21px] text-center;
                    }
                    p {
                        @apply text-[10px]/[15px] text-center;
                    }
                }
                .list-coins-staking {
                    .coin-staking-container {
                        @apply w-1/2 p-[10px];
                        .card-coin-staking {
                            @apply flex-col justify-center gap-[6px] h-[125px];
                            .card-coin-logo {
                                @apply flex flex-col justify-center items-center;
                                img {
                                    @apply w-[30px] h-[30px];
                                }
                            }
                            .card-coin-desc {
                                @apply text-center;
                                label {
                                    @apply text-[12px]/[18px];
                                }
                                span {
                                    @apply text-[8px]/[12px];
                                }
                                a {
                                    @apply text-[10px]/[15px];
                                }
                            }
                        }
                    }
                }
            }
            .staking-faq-section {
                @apply py-[30px] px-[20px] gap-[20px];
                h2 {
                    @apply text-[16px]/[24px];
                }
                .question-faq-staking{
                    @apply flex-col-reverse gap-[31px];
                    .question-faq-image{
                        @apply w-full items-center;
                        img {
                            @apply w-[157px] h-[201px];
                        }
                    }
                    .question-faq-accordion {
                        @apply w-full;
                        ul {
                            li {
                                button {
                                    @apply py-[4px];
                                    .header-button {
                                        label {
                                            @apply text-[12px]/[18px];
                                        }
                                    }
                                }
                                .accordion-content {
                                    .content-area {
                                        @apply py-[4px];
                                        p {
                                            @apply text-[10px]/[15px];
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .staking-start-now-section {
                @apply py-[30px] px-[20px] gap-[20px] flex-col;
                .image-container {
                    @apply hidden;
                }
                .description-container {
                    @apply w-full;
                    .start-now-description {
                        @apply text-center gap-[10px];
                        h2 {
                            @apply text-[14px]/[21px];
                        }
                        p {
                            @apply text-[12px]/[18px];
                        }
                    }
                }
                .start-button-logo {
                    @apply flex-col justify-center items-center gap-[30px];
                    a {
                        @apply w-[80%] text-[12px]/[18px] py-[8px];
                        svg {
                            @apply w-[18px] h-[18px];
                        }
                    }
                }
            }
            .staking-testimony-carousel-section {
                @apply py-[30px] px-[20px];
            }
        }
    }
      
}



