@tailwind base;
@tailwind components;
@tailwind utilities;

.stocks-page {
    &.dark-theme {
        h1, h2, h3, h4, h5 {
            @apply text-slate-200;
        }
        p {
            @apply text-slate-300;
        }
        a {
            @apply text-[#737aff]
        }
    }
    &.light-theme {
        h1, h2, h3, h4, h5 {
            @apply text-black;
        }
        p {
            @apply text-neutral-700;
        }
    }
    .stocks-register-section {
        @apply flex flex-col items-center px-[100px] py-[50px] relative;
        .box-container {
            @apply flex flex-col justify-center items-center text-center relative w-full gap-[20px];
            h1 {
                @apply text-[34px]/[51px] font-bold text-black;
            }
            h5 {
                @apply text-[18px]/[27px] font-medium text-neutral-700;
            }
            p {
                @apply text-[12px]/[18px] font-medium text-neutral-700;
            }
            a {
                @apply flex justify-center items-center bg-primary text-white rounded-[30px] py-[9px] w-[260px] text-[14px]/[21px] font-bold;   
            }
        }
    }
    .stocks-device-section {
        @apply flex flex-col items-center px-[100px] py-[50px] relative;
        .box-container {
            @apply flex flex-col justify-center items-center relative w-[90%];
            img {
                @apply w-[682px] h-[480px];
            }
            &::after {
                content: '';
                @apply absolute w-[135px] h-[293px] right-0 top-0;
                background: url("/images/ornaments/startup2-ornament.png") no-repeat;
                background-size: 135px 293px;
            }
            &::before {
                content: '';
                @apply absolute w-[135px] h-[325px] left-0 top-0;
                background: url("/images/ornaments/startup1-ornament.png") no-repeat;
                background-size: 135px 325px;

            }
        }
    }
    .stocks-why-section {
        @apply flex flex-col items-center px-[100px] pt-[50px] pb-[75px] relative;
        .container {
            @apply flex flex-col gap-[70px] justify-center items-center;
            .logo-container {
                @apply flex flex-col w-full items-center;
                svg {
                        @apply w-[99px] h-[31px];
                }
            }
            .title-container {
                @apply flex flex-col justify-center items-center text-center;
                h1 {
                    @apply text-[40px]/[60px] text-black font-semibold;
                }
                p {
                    @apply text-[18px]/[27px] font-medium;
                }
            }
            .description-container {
                @apply flex gap-[91px] justify-center items-center;
                .detail-subcontainer {
                    @apply flex flex-col justify-center items-center text-center;
                    h5 {
                        @apply text-[42px]/[63px] text-black font-semibold;
                    }
                    p {
                        @apply text-[16px]/[32px] font-medium;
                    }
                }
            }
        }
    }
    .stocks-regulated-insured-section {
        @apply flex flex-col items-center px-[100px] py-[75px] relative;
        .box-container {
            @apply flex flex-col items-center bg-[#F4F8FB] rounded-tr-[40px] rounded-tl-[40px] px-[50px] pt-[40px] pb-[80px] gap-[60px] relative w-[90%];
            h2 {
                @apply text-[28px]/[42px] font-bold text-neutral-900;
            }
            .sub-container {
                @apply flex gap-[100px];
                .detail-subcontainer {
                    @apply flex flex-col items-center gap-[30px] w-1/2;
                    img {
                        @apply w-[80px] h-[80px];
                    }
                    .detail-description-subcontainer {
                        @apply flex flex-col gap-[10px] items-center text-center;
                        h5 {
                            @apply text-[16px]/[24px] font-bold text-neutral-900;
                        }
                        p {
                            @apply text-[12px]/[18px] font-medium text-neutral-900;
                        }
                    }
                }
            }
            &::after {
                content: '';
                @apply absolute bottom-[-50px] w-[201px] h-[201px] right-0 top-0;
                background: url("/images/ornaments/investasi-right-ornament.png") no-repeat;
            }
            &::before {
                content: '';
                @apply absolute bottom-[-50px] w-[201px] h-[201px] left-0 top-0;
                background: url("/images/ornaments/investasi-left-ornament.png") no-repeat;
            }
        }
    
    }
    .stocks-ewallet-section {
        @apply flex items-center  px-[100px] pt-[75px] pb-[50px];
        .ewallet-description {
            @apply flex-1 flex flex-col gap-[26px] py-[20px];
            h2 {
                @apply text-[28px]/[42px] font-bold text-neutral-900;
            }
            h5 {
                @apply text-[20px]/[30px] font-bold text-neutral-900;
            }
            p {
                @apply text-[16px]/[32px] font-medium text-neutral-700;
            }
        }
        .ewallet-image {
            @apply w-[455px];
            img {
               @apply w-[455px] h-[435px];
            }
        }
    }
    .stocks-calculator-section {
        @apply px-[100px] py-[50px] gap-[80px] flex flex-col justify-center items-center;
        
        .card-stocks-calculator{
            @apply flex items-center gap-[73px] p-[40px] rounded-[20px];
            box-shadow: 4px 14px 30px 0px #00000014;
            .image-container {
                @apply w-[372px];
                img {
                    @apply w-[372px] h-[233px];
                }
            }
            .calculator-container {
                @apply flex flex-col flex-1 gap-[24px];
                .top-subcontainer {
                    @apply flex flex-col gap-[30px];
                    h2 {
                        @apply text-[20px]/[30px] font-bold;
                    }
                    p {
                        @apply text-[16px]/[32px] font-medium;
                    }
                    .sub-subcontainer {
                        @apply flex gap-[20px];
                        .form-input {
                            @apply flex gap-[8px] items-center;
                            label {
                                @apply text-[12px]/[18px] font-medium text-neutral-700;
                            }
                            input, select {
                                @apply w-[220px];
                            }
                        }
                    }
                    button {
                        @apply flex justify-center items-center bg-primary text-white rounded-[10px] py-[9px] w-[260px] text-[14px]/[21px] font-bold;   
                    }
                }
                
            }
        }
    }
    .stocks-faq-section {
        @apply py-[50px] px-[100px] flex flex-col gap-[20px];
        h2 {
            @apply text-[28px]/[42px] font-bold text-center;
        }
        .question-faq-stocks {
            @apply flex gap-[80px] items-center px-[113px];
            .question-faq-accordion {
                @apply flex-1;
                ul {
                    li {
                        &:not(:last-child) {
                            @apply relative pb-[20px];
                        }
                        button {
                            @apply w-full py-[8px] text-left;
                            .header-button {
                                @apply flex items-center justify-between;
                                label {
                                    @apply text-[18px]/[27px] font-bold cursor-pointer text-black;
                                }
                            }
                        }
                        .accordion-content {
                            @apply relative overflow-hidden transition-all duration-700;
                            .content-area {
                                @apply py-[8px];
                                p {
                                    @apply text-[14px]/[21px] font-normal;
                                }
                            }
                        }
                    }
                }
            }
            .question-faq-image {
                @apply w-[197px] flex flex-col justify-center;
                img {
                    @apply w-[197px] h-[252px];
                }
            }
        }
    }
    .stocks-register-now-section {
        @apply flex items-center py-[50px]  px-[100px] gap-[60px];
        .image-container {
            @apply w-[600px] flex flex-col justify-center items-end relative;
            img {
                @apply  w-[392px] h-[355px] ;
            }
            &::before {
                content: '';
                @apply absolute left-[-10px] w-[500px] h-[500px] z-[-1];
                background: url("/images/ornaments/circle-loop-ornament-2.png") no-repeat;
            }
        }
        .description-container {
            @apply flex flex-1 flex-col gap-[30px];
            .start-now-description {
                @apply flex-1 flex flex-col gap-[18px];
                h2 {
                    @apply text-[28px]/[42px] font-bold text-neutral-900;
                }
                p {
                    @apply text-[16px]/[32px] font-medium text-neutral-700;
                }
            }
           .start-button-logo {
                @apply flex gap-[30px];
                a {
                    @apply flex justify-center items-center bg-primary text-white rounded-[30px] py-[13px] w-[260px] text-[14px]/[21px] font-bold;
                }
                .start-now-store {
                    @apply flex gap-[14px] items-center;
                    img {
                        &.apple-logo {
                            @apply w-[31px] h-[37px];
                        }
                        &.playstore-logo {
                            @apply w-[30px] h-[32px];
    
                        }
                    }
                }
                .start-now-store-mobile {
                    @apply hidden gap-[14px] items-center;
                    img {
                        &.apple-logo {
                            @apply w-[130.64px] h-[38.71px];
                        }
                        &.playstore-logo {
                            @apply w-[114.43px] h-[37.02px];
    
                        }
                    }
                }
           }
        }
    }
    @layer components {
        &.mobile-responsive {
            @apply pt-[40px];
            .stocks-register-section {
                @apply px-[30px] py-[20px];
                .box-container {
                    h1 {
                        @apply text-[14px]/[21px];
                    }
                    h5 {
                        @apply text-[10px]/[15px];
                    }
                    p {
                        @apply text-[10px]/[15px];
                    }
                    a {
                        @apply  w-[200px] text-[12px]/[18px] ;   
                    }
                }
            }
            .stocks-device-section {
                @apply px-[30px] py-[20px];
                .box-container {
                    @apply w-full;
                    img {
                        @apply w-[215px] h-[151px];
                    }
                    &::after {
                        content: '';
                        @apply w-[42px] h-[92px];
                        background-size: 42px 92px;
                    }
                    &::before {
                        @apply w-[42px] h-[102px];
                        background-size: 42px 102px;
        
                    }
                }
            }
            .stocks-why-section {
                @apply px-[30px] py-[20px];
                .container {
                    @apply gap-[20px];
                    .logo-container {
                        svg {
                            @apply w-[51px] h-[16px];
                        }
                    }
                    .title-container {
                        h1 {
                            @apply text-[14px]/[21px] font-semibold;
                        }
                        p {
                            @apply text-[10px]/[15px];
                        }
                    }
                    .description-container {
                        @apply flex-col gap-[20px];
                        .detail-subcontainer {
                            h5 {
                                @apply text-[14px]/[21px] font-semibold;
                            }
                            p {
                                @apply text-[10px]/[15px];
                            }
                        }
                    }
                }
            }
            .stocks-regulated-insured-section {
                @apply px-[30px] py-[20px] ;
                .box-container {
                    @apply overflow-hidden pb-[10px] px-[15px] gap-[23px] w-full;
                    h2 {
                        @apply text-[14px]/[21px];
                    }
                    .sub-container {
                        @apply flex-col gap-[30px];
                        .detail-subcontainer {
                            @apply w-full gap-[20px];
                            img {
                                @apply w-[34px] h-[34px];
                            }
                            .detail-description-subcontainer {
                                h5 {
                                    @apply text-[10px]/[15px];
                                }
                                p {
                                    @apply text-[8px]/[12px];
                                }
                            }
                        }
                    }
                    &::after {
                        content: '';
                        @apply absolute bottom-[-50px] w-[70px] h-[70px] right-0 top-0;
                        background: url("/images/ornaments/investasi-right-ornament-mobile.png") no-repeat;
                    }
                    &::before {
                        content: '';
                        @apply absolute bottom-[-50px] w-[70px] h-[70px] right-0 top-0;
                        background: url("/images/ornaments/investasi-left-ornament-mobile.png") no-repeat;
                    }
                }
            
            }
            .stocks-calculator-section {
                @apply py-[30px] px-[20px] gap-[60px];
                .card-stocks-calculator {
                    @apply flex-col gap-[30px];
                    .image-container {
                        @apply w-[240px];
                        img {
                            @apply w-[240px] h-[142px];
                        }
                    }
                    .calculator-container {
                        @apply flex-col;
                        .top-subcontainer {
                            @apply text-center;
                            h2 {
                                @apply text-[16px]/[24px];
                            }
                            p {
                                @apply text-[16px]/[24px];

                            }
                            .sub-subcontainer {
                                @apply flex-col gap-[20px] w-full;
                                .form-input {
                                    @apply flex-col w-full gap-[8px] items-start;
                                    label {
                                        @apply text-[12px]/[18px] font-medium text-neutral-700;
                                    }
                                    .group-input {
                                        @apply w-full;
                                        input {
                                            @apply w-full h-[41px];
                                        }
                                    }
                                    select {
                                        @apply w-full h-[41px];
                                    }
                                }
                            }
                            button {
                                @apply w-full text-[12px]/[18px] rounded-[30px];
                            }
                        }
                    }
                }
            }
            .stocks-ewallet-section {
                @apply flex-col py-[30px] px-[20px];
                .ewallet-description {
                    @apply justify-center items-center w-full text-center p-0;
                    h2 {
                        @apply text-[14px]/[21px];
                    }
                    h5 {
                        @apply text-[10px]/[15px];
                    }
                    p {
                        @apply text-[10px]/[15px];
                    }
                }
                .ewallet-image {
                    @apply w-[246px] flex flex-col justify-center items-center;
                    img {
                        @apply w-[246px] h-[219px];
                    }
                }
            }
            .stocks-faq-section {
                @apply py-[30px] px-[20px] gap-[20px];
                h2 {
                    @apply text-[16px]/[24px];
                }
                .question-faq-stocks{
                    @apply flex-col-reverse gap-[31px] px-[0px];
                    .question-faq-image{
                        @apply w-full items-center;
                        img {
                            @apply w-[157px] h-[201px];
                        }
                    }
                    .question-faq-accordion {
                        @apply w-full;
                        ul {
                            li {
                                button {
                                    @apply py-[4px];
                                    .header-button {
                                        label {
                                            @apply text-[12px]/[18px];
                                        }
                                    }
                                }
                                .accordion-content {
                                    .content-area {
                                        @apply py-[4px];
                                        p {
                                            @apply text-[10px]/[15px];
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .stocks-register-now-section {
                @apply py-[30px] px-[20px] gap-[20px] flex-col;
                .image-container {
                    @apply hidden;
                }
                .description-container {
                    .start-now-description {
                        @apply text-center gap-[10px];
                        h2 {
                            @apply text-[14px]/[21px];
                        }
                        p {
                            @apply text-[12px]/[18px];
                        }
                    }
                }
                .start-button-logo {
                    @apply flex-col justify-center items-center gap-[30px];
                    a {
                        @apply w-[80%] text-[12px]/[18px] py-[8px];
                    }
                }
            }
        }
    }
}