@tailwind base;
@tailwind components;
@tailwind utilities;
.home-page {
    .home-hero-section {
        &.animate {
            .fade-in {
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                animation-name: fadeIn;
            }
            .entry-1 {
                animation-delay: 0.5s;
            }
            .entry-2 {
                animation-delay: 1s;      
            }
            .entry-3 {
                animation-delay: 1.5s;
            }
            .entry-4 {
                animation-delay: 2s;
            }
            .entry-5 {
                animation-delay: 2.5s;
            }
            .entry-6 {
                animation-delay: 3s;
            }
        }
    }
    .home-rancang-new-section {
        &.animate {
            .fade-in {
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                animation-name: fadeIn;
            }
            .entry-1 {
                animation-delay: 0.5s;
            }
            .entry-2 {
                animation-delay: 1s;      
            }
            .entry-3 {
                animation-delay: 1.5s;
            }
            .entry-4 {
                animation-delay: 2s;
            }
            .entry-5 {
                animation-delay: 2.5s;
            }
            .entry-6 {
                animation-delay: 3s;
            }
        }
    }
    .home-transaksi-section {
        &.animate {
            .fade-in {
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                animation-name: fadeIn;
            }
            .entry-1 {
                animation-delay: 0.5s;
            }
            .entry-2 {
                animation-delay: 1s;      
            }
            .entry-3 {
                animation-delay: 1.5s;
            }
            .entry-4 {
                animation-delay: 2s;
            }
        }
    }
    .home-dividen-staking-section {
        &.animate {
            .fade-in {
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                animation-name: fadeIn;
            }
            .entry-1 {
                animation-delay: 0.5s;
            }
            .entry-2 {
                animation-delay: 1s;      
            }
            .entry-3 {
                animation-delay: 1.5s;
            }
            .entry-4 {
                animation-delay: 2s;
            }
        }
    }

    .home-ewallet-section {
        &.animate {
            .fade-in {
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                animation-name: fadeIn;
            }
            .entry-1 {
                animation-delay: 0.5s;
            }
            .entry-2 {
                animation-delay: 1s;      
            }
            .entry-3 {
                animation-delay: 1.5s;
            }
            .entry-4 {
                animation-delay: 2s;
            }
        }
    }
}

@keyframes fadeIn { 
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* @keyframes fadeInBasic { from { opacity:0; } to { opacity:1; } } */

